export default {
  'HARVEST_ACCOUNT': 'your_harvest_account',
  'HARVEST_CLIENT_ID': 'your_harvest_client_id',
  'MONEYBIRD_CLIENT_ID': 'your_moneybird_client_id',
  'MONEYBIRD_CLIENT_SECRET': 'your_moneybird_client_secret',
  'MONEYBIRD_ADMINISTRATION_ID': 'your_administration_id',
  'HOURLY_RATE': '85',
}
