.button {
  background: $primary;
  border-radius: 30px;
  color: $white;
  clear: both;
  display: block;
  font-size: 18px;
  font-weight: bold;
  float: left;
  line-height: 30px;
  margin: 0 0 20px 0;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  min-width: 180px;

  &:active,
  &:hover,
  &:focus {
    background: $hover-color;
    color: $white;
    text-decoration: none;
  }
}
