@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 2;
  word-wrap: break-word;
}

@mixin heading() {
  color: $heading-color;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 20px;
}

h1 {
  @include heading();
  font-size: 32px;
  margin: 36px 0;
}

h2 {
  @include heading();
  font-size: 24px;
}

p {
  margin: 0 0 10px 0;
}
