.table {
  @include full-width();
  margin: 0 0 20px;

  .row {
    clear: both;

    &.total {
      font-weight: bold;
    }
  }

  .hours,
  .price {
    float: left;
    text-align: right;
    width: 20%;
  }

  .task {
    float: left;
    width: 60%;
  }
}
